<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball Dream Team!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">





  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 style="color:black; font-family: 'Roboto Condensed', sans-serif; font-size: 70px; text-align: center;"> Create your own NBA Dream Team! </h1>
      </div>
    </div>
<div class= "bar">
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a href="/players/show" class="nav-link active">Players</a>
  </li>

  </li>
  <li class="nav-item">
    <a href="/players" class="nav-link">Create a Player</a>
  </li>
  <li class="nav-item">
    <a href="/faq" class="nav-link">FAQ</a>
  </li>

  <li class="nav-item">
    <a href="#" class="nav-link disabled">Trivia (Coming Soon!)</a>
  </li>


</ul>
</div>

<div class="poem">

  <h1 style="color:white; font-family: 'Roboto Condensed', sans-serif; font-size: 30px; text-align: center; text-shadow: 2px 2px 4px #000000;"> Click on the links above to get started! Create your team, Add and Edit them as you please!
    <br>
    Here's a song about basketball to get you in the mood </h1>
  <h2 style="color:white; font-family: 'Roboto Condensed', sans-serif; font-size: 25px; text-align: center; text-shadow: 2px 2px 4px #000000;">
    ~They're playing Basketball,
We love that Basketball,
They're playing Basketball,
We love that Basketball
<br>
Basketball is my favorite sport,
I like the way they dribble up and down the court,
Just like I'm the King on the microphone, so is Dr. J and Moses Malone,
I like Slam-dunks, take me to the hoop,
My favorite play is the alley-oop,
I like the pick-and-roll, I like the give-and-go,
Cause it's Basketball, uh, Mister Kurtis Blow ~
</h2>
</div>

  </body>
</html>
