.jumbotron {

  background-size: cover;
  background-repeat: no-repeat;


}


/* .bar {
  background-color: inherit;

} */


.jumbotron .container {
  height: 100px;
}



body{
  background-image: url('../Images/seth-reese-425751.jpg');
  background-position: top;
  background-size: 1750px 1200px;
  background-repeat: no-repeat;
  background-size: cover;

}
h1 {
  font-size: 15px;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;

}

h2{
  font-size: 15px;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;

}
