.jumbotron {
  background-image: url(/Images/jc-gellidon-361849.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}

.jumbotron .container {
  height: 500px;
}

.form-inline {
  float: right;
}

.col-sm-8{
  background-color: grey;
}

.col-sm-4{
  background-color: #C2FFFF;
}
