.jumbotron {

  background-size: cover;
  background-repeat: no-repeat;


}


.bar {
  background-color: white;
  position: center;
}
.poem {
  background-color:
}

.jumbotron .container {
  height: 200px;
}



body{
  background-image: url('../Images/neonbrand-308156.jpg');
  background-position: top;
  background-size: 1650px 1100px;
  background-repeat: no-repeat;
}
h1 {
  font-size: 15px;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;

}

h2{
  font-size: 15px;
  color:white;
  font-family: 'Roboto Condensed', sans-serif;

}

.card-title{
  font-size: 20px;
}
