<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
  </head>
  <body>
    <h1>How do you play??</h1>


    <form action="/">
        <input type="submit" value="Go Home!">
    </form>

  </body>
</html>
