<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title></title>
  <!-- <link rel='stylesheet' type='text/css' href='/static/css/style.css'> -->
</head>
<body>

  <h1>Don't See Your Player? Add Him here!</h1>
  <h2>For point value: Be Honest, Max value can be 150</h2>

  

<form action="/players" method="POST">
  <input type="text" placeholder="Players Name" name="name">
  <input type="text" placeholder="Team" name="name">
  <input type="text" placeholder="Position Played" name="name">
  <input type="text" placeholder="Value" name="value">

  <button type="submit">Add</button>
</form>

</body>
</html>
